<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/stylesheet %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%include ../partials/header %>
    <div class="container">
      <div class="page-header m-t-1">
        <h1><%= title %> </h1>
      </div>
      <p>Welcome to <%= title %></p>
    </div>
    <% include ../partials/footer %>
    <% include ../partials/javascript %>
  </body>
</html>
